<nav class="navbar">
  <div class="navbar__left-side">
    <button type="button" class="btn btn--no-padding">
      <%= image_tag 'icons/bars.svg' %>
    </button>
    <%= image_tag 'icons/logo-mobile.svg' %>
  </div>

  <div class="navbar__right-side">
    <button type="button" class="btn btn--icon-navbar">
      <%= image_tag 'icons/search.svg' %>
    </button>
    <button type="button" class="btn btn--icon-navbar">
      <%= image_tag 'icons/user.svg' %>
    </button>
    <button type="button" class="btn btn--icon-navbar">
      <%= image_tag 'icons/cart.svg' %>
    </button>
  </div>
</nav>